*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "url sidebar"
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
}
.image-url {
  grid-area: url;
  background-color: hsl(265, 100%, 86%);
  border-bottom: 1px solid hsl(265, 100%, 56%);
}
.url {
  width: 100%;
}
input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  height: 2.9rem;
  text-align: center;
}
.main-image {
  grid-area: image;
  background-image: url("https://source.unsplash.com/EwKXn5CapA4");
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sidebar {
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: bacground-color 150ms;
  width: 100%;
}
.sidebar-item:hover,
.sidebar-item:focus {
  background-color: hsl(265, 100%, 76%);
}
.sidebar-item.active {
  background-color: hsl(265, 100%, 70%);
}
.sidebar-item::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(256, 100%, 46%);
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}
.slider {
  width: 100%;
  cursor: pointer;
}
